body{background-color: aqua;padding: 10dp;}
h1{color:black;text-align: center;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
p{color: black;font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center;}